body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 60vw;
    height: 90vh;
    background-color: rgb(138 212 222);
    display: flex;
    justify-content: center;
    align-items: center
}

.calc-container {
    height:70vh;
    width: 30vw;
    border: 2px solid #1b1914;
    border-radius: 0.4rem;
}

.input-screen-container {
    background-color: #1b1914;
    padding: 1rem;
}

.input-screen {
    height: 4rem;
    border-radius: 0.4rem;
    background-color: #b0aeae;
    width: 100%;
    color: white;
    font-size: 3rem;
    text-align: right;
    padding-right: 0.2rem;
}

.buttons-box {
    background-color: #2d2b2b;
    height: 58vh;
    display: flex;
    align-items: center;
}

.buttons-container {
    height: 50vh;
    width: 100%;
}

.buttons-row {
    display: flex;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
}

.calc-btn {
    background-color: white;
    height: 3rem;
    width: 6rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem
}